
<% if user_signed_in? %>

  <% if @migraines.any? %>
    <% @migraines.each do |migraine| %>
      <p><%= "Migraine Date: #{migraine.date}" %></p>
      <p><%= "Migraine Severity: #{migraine.severity}"%></p>
      <p><%= "Phenylalanine Level: #{migraine.phen_level} grams"%></p>
    <% end %>
  <% else %>
    <h2>No Migraines Recorded</h2>
  <% end %>

  <%= link_to 'Record a Migraine', new_migraine_path %>
  <%= link_to 'Log a Meal', new_food_path %>

<% else %>
  "Sign in to record and view migraines"
  "Sign in to record meals"
<% end %>
