<div class='container rec-mig'>
  <%= form_for @migraine do |f| %>
    <%= f.label :date, 'Date:' %>
    <%= f.text_field :date, placeholder: "dd/mm/yyyy" %>
    <br>
    <%= f.label :severity, "Severity: 1 (mild) to 10 (severe)" %>
    <%= f.select('severity', 1..10) %>
    <br>
    <%= f.submit "Submit Migraine "%>
  <% end %>
</div>
